body, html {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
}

hr {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #373737;
}


::-webkit-scrollbar {
    width: 9px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

.categories::-webkit-scrollbar-track {
    background: none;
}

.onSmall {
    float: left;
    display: none;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stickyNav {
    opacity: 98%;
    position: sticky;
    top: 0px;
    background-color: #202020;
}

.mainNav {
    display: flex;
    height: 56px;
}

.content {
    padding: 20px;
    display: flex;

    height: 1000px;
}

.leftNav, .middleNav, .rightNav {
}

.leftNav {
    min-width: 240px;
    display: flex;
    font-size: 25px;
    color: white;
}

.menuIcon {
    height: 56px;
    min-width: 72px;
}

.logo {
    display: flex;
    align-items: center;
    height: 56px;
    min-width: 168px;
}

.logoImage {
    width: 100px;
}

.middleNav {
    width: 100%;
    display: flex;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

.search:focus {
    outline-style: none
}

.search {
    margin-left: 36px;
    height: 36px;
    max-width: 500px;
    width: 100%;
    min-width: 0px;
    padding-left: 5px;
    font-size: 15px;
    color: white;
    background-color: #121212;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    border-left: 1px solid #373737;
    border-right: none;
    border-radius: 0px;
}

.search-with-keyboard {
    max-width: 500px;
    width: 100%;
    min-width: 0px;
    display: flex;
}

.search-with-keyboard:focus-within {
    border: 1px solid cornflowerblue;
}

.search-with-keyboard:focus-within .search {
    border-left: none;
    margin-left: 0;
}

.search-with-keyboard:focus-within .icon-search-on-focus {
    display: flex;
}

.icon-search-on-focus {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737;
    border-bottom: 1px solid #373737;
    min-width: 36px;
    color: #747474;
}

.keyboard-search-icon {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    background-color: #121212;
    color: #a0a0a0;
}

.icon-search-button {
    height: 36px;
    min-width: 62px;
    font-size: 17px;
    background-color: #323232;
    color: #ffffff;
    border: none;
}

.mainMicIcon {
    background-color: #121212;
    min-height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 7px;
    border-radius: 50px;
    font-size: 17px;
}

.rightNav {
    display: flex;
    min-width: 225px;
    padding-right: 16px;
}

.rightNavIcons {
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.rightNavButton {
    min-height: 36px;
    min-width: 36px;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    font-size: 20px;
}

.icon-circle {
    font-size: 40px;
}

.categories-div {
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    height: 56px;
    width: 100%;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    overflow: scroll;
    overflow-y: hidden;
}

.cat-buttons {
    width: 100%;
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

.cat-button {
    background-color: #373737;
    color: white;
    border: 1px solid #494949;
    border-radius: 16px;
    min-width: 12px;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.cat-button:hover {
    background-color: #4c4c4c;
    transition: background-color 0.5s;
    cursor: pointer;
}

.icon-menu {
    cursor: pointer;
}


.leftSideMenu {
    font-size: 14px;
    background-color: #202020;
    min-width: 240px;
    height: 940px;
    float: left;
    display: flex;
    justify-content: center;
}

.leftSideButton {
    color: white;
    display: flex;
    align-items: center;
    height: 40px;
    width: 240px;

}

.leftSideButton:hover {
    background-color: #383838;
    cursor: pointer;
}

.leftSideIcon {
    margin-left: 25px;
    margin-right: 25px;
}

.leftSideHeader {
    color: #aaaaaa;
    padding: 8px 24px;
}

#playlists {
    display: none;
}

#showMore {
    display: flex;
}

#showLess {
    display: none;
}
.leftSideMenuSmall {
    font-size: 14px;
    background-color: #202020;
    min-width: 72px;
    height: 940px;
    float: left;
    display: none;
    justify-content: center;
}
.leftSideMenuSmallButton{
    height: 44px;
    width: 72px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 14px;
    font-size: 10px;
}
.leftSideMenuSmallButton:hover{
    background-color: #383838;
    cursor: pointer;
}
.smallMenuIcon{
    font-size: 19px;
    padding-bottom: 5px;
}
@media screen and (max-width: 700px) {
    .searchbar {
        display: none;
    }

    .onSmall {
        display: flex;
    }

    .rightNavButton {
        display: flex;
    }

    .rightNavIcons {
        padding-left: 0;
    }
    .leftSideMenus{
        display: none !important;
    }
}
@media screen and (max-width: 1200px){
    .leftSideMenu{
        display: none !important;
    }
    .leftSideMenuSmall{
        display: block !important;
    }

}
