body, html {
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.flex-nav{
    border-bottom:1px solid #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #212121
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    min-width: 240px;
    float: left;
}
.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 72px;
    font-size: 25px;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    height: 56px;
    width: 168px;
}
.mainLogo{
    width: 100px;
}
.nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    float: left;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}
.search:focus{
    outline-style: none
}
.search{
    margin-left: 34px;
    height: 36px;
    max-width: 500px;
    width: 100%;
    min-width: 0px;
    padding-left: 5px;
    font-size: 15px;
    color: white;
    background-color: #121212;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    border-left: 1px solid #373737;
    border-right: none;
    border-radius: 0px;
}
.search-with-keyboard{
    max-width: 500px;
    width: 100%;
    min-width: 0px;
    display: flex;
}
.search-with-keyboard:focus-within{
    border: 1px solid cornflowerblue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search-with-keyboard:focus-within .search{
    border-left: none;
    margin-left: 0;
}
.search-with-keyboard:focus-within .icon-search-on-focus{
    display: flex;
}
.icon-search-on-focus{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737;
    border-bottom: 1px solid #373737;
    width: 34px;
    color: #747474;
}
.keyboard-search-icon{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    background-color: #121212;
    color: #a0a0a0;
}
.icon-search-button{
    height: 36px;
    min-width: 62px;
    font-size: 17px;
    background-color: #323232;
    color: #ffffff;
    border: none;
}
.icon-mic{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #181818;
    min-height: 36px;
    min-width: 36px;
    border-radius: 50px;
    margin-left: 8px;
}
.nav-right{
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 56px;
    min-width: 250px;
    float: right;
    color: white;
    font-size: 20px;
}
.nav-right-buttons{
    margin-left: 25px;
}
.avatar{
    height: 30px;
    padding-right: 16px;
}
.sticky-nav{
    position: sticky;
    top: 0%;
    opacity: 99%;
}
.secondNav{
    display: flex;
}
.leftSideMenu{
    float: left;
    position: fixed;
    top: 57px;
    left: 0;
    height: 891px;
    min-width: 72px;
    width: 72px;
    background-color: #212121;
}
.categories{
    display: flex;
    align-items: center;
    margin-left: 72px;
    border-bottom:1px solid #373737;
    float: left;
    height: 56px;
    width: 100%;
    background-color: #212121
}
.content{
    color: white;
    margin-left: 72px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
.onSmall{
    display: none;
    background: none;
}

@media screen and (max-width: 680px) {
.searchbar{
    display: none;
}
    .onSmall{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.cat-buttons{
    list-style: none;
    display: flex;
    text-align: center;
    height: 100%;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.cat-button{
    background-color: #373737;
    color: white;
    border: none;
    border-radius: 16px;
    min-width: 12px;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    margin: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;

}
cat-button:hover{
    background-color: #6a6d6f;
    transition: background-color 0.5s ;
}
